{% extends 'book/base.html' %}

{% block content %}
    <h1 class="my-4">{% if request.path == '/new' %} New Book {% else %} Edit - {% endif %}
        {% if request.path != '/new' %}<small>{{ book.name }}</small>{% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
            </form>
        </div>
    </div>
{% endblock %}