{% extends 'book/base.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Author:</strong> {{ object.author }}</li>
              <li class="list-group-item"><strong>Publisher:</strong> {{ object.publisher }}</li>
            </ul>
        </div>
    </div>
{% endblock %}